:root {
    --blue-bg-dark: rgba(0,3,36,1);
    --blue-bg-light: rgba(9,90,121,1);
  }

html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.header {
    height: 15vh;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    background: linear-gradient(180deg, rgba(0,3,36,1) 0%, rgba(9,90,121,1) 94%);
    color: white;
}
.body {
    display: grid;
    height: 82vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr);
}
.left {
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    grid-row: 1/4;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f4f6;
}
.right{
    height: 100%;
    width: 100%;
    grid-row: 1/4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.right ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 1vh;
    justify-content: space-between;
}
.listItem {
    width: fit-content;
    border-radius: 20px;
}

.projectListItem{
    width:  30vh;
    height: 5vh;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    margin-bottom: 2vh;
    padding-top: 1vh;
}
.clicked {
    background-color: var(--blue-bg-light);
    color: white;

}
.projectListItem:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.addItem {
    height: fit-content;
    width: fit-content;
    grid-column: 4/5;
}
.modal {
    position: absolute;
    background-color: white;
    padding-top: 2vh;
    height: 40vh;
    width: 40vh;
    top: 20%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    border-radius: 10px;
    z-index: 6;
    border: 1px solid black;
}
.hidden {
    display: none;
    background-color: transparent;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
form h1 {
    text-align: center;
}
.descriptionIcon {
    border: 1px solid black;
    width: 5vh;
    border-radius: 10px;
    text-align: center;
}
.descriptionIcon:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.tasks li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 20vh;
}
.details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    padding: 4vh;
    overflow: scroll;
}
.tasks li:hover {
    background-color: rgba(128, 128, 128, 0.177);
    cursor: pointer;
}
.remove {
    background-color: red;
    border-radius: 20px;
}
.itemInfo {
    display: flex;
    gap: 2vh;
}
.Low {
    background-color: #84cc16;
}
.Medium {
    background-color: #f59e0b;
}
.High {
    background-color: #f97316;
}
.ASAP {
    background-color: #dc2626;
}
.Low, .Medium, .High, .ASAP {
    border: 1px solid black;
}
.edit {
    border: 1px solid black;
    border-radius: 20px;
    width: 5vh;
    text-align: center;
    background-color: #84cc16;
}
.edit:hover {
    cursor: pointer;
    background-color: #4d7c0f;
}
.remove:hover {
    cursor: pointer;
    background-color: #b91c1c;
}
.closeModal {
    text-align: end;
}
.editor {
    display: flex;
    gap: 1vh;
}
.editDescription {
  line-height: normal;
  width: auto;
  text-align: left;
  column-count: initial;
  overflow-wrap: break-word;
}
.newProject {
    margin-right: 27vh;
    margin-top: 2vh;
}